.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.action {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.actionWithRange {
    flex-direction: column;

    @media (max-width: 480px) {
      .selection {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

.submitButtons {
  display: flex;
  gap: 10px;
}

.context {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sum {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 15px;
  max-width: 100%;
}
