@use '$/shared/styles/variables/colors';

.lessonCard {
  border: 1px solid colors.$toxic-100;
  border-radius: 12px;
  background-color: rgb(13, 13, 13);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
}

.info {
  margin-bottom: 1rem;
}
