.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.action {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &.actionWithRange {
    flex-direction: column;

    @media (max-width: 480px) {
      .selection {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}

.submitButtons {
  display: flex;
  gap: 10px;
}
