@use '$/shared/styles/variables/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.colors {
  display: flex;
  gap: 5px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #4c4a4a;
  cursor: pointer;

  &.active {
    border: 2px solid white;
  }

  &.red {
    background-color: colors.$red-500;
    &.active {
      background-color: colors.$red-700;
    }
  }

  &.green {
    background-color: colors.$green-500;
    &.active {
      background-color: colors.$green-700;
    }
  }

  &.yellow {
    background-color: colors.$yellow-500;
    &.active {
      background-color: colors.$yellow-700;
    }
  }

  &.orange {
    background-color: colors.$orange-500;

    &.active {
      background-color: colors.$orange-700;
    }
  }

  &.blue {
    background-color: colors.$blue-500;

    &.active {
      background-color: colors.$blue-700;
    }
  }

  &.purple {
    background-color: colors.$purple-500;

    &.active {
      background-color: colors.$purple-700;
    }
  }
}
