@use '$/shared/styles/variables/colors';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.label {
  color: colors.$gray-400;
}

.response {
  background: colors.$gray-800;
  border: 1px solid colors.$gray-700;
  border-radius: 12px;
  padding: 16px;
  white-space: pre-wrap;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.highlighted {
  color: colors.$toxic-100;
}
